footer{
	position: relative;
	.facebook{
		background: url(../images/facebook_about.png) no-repeat;
		height: 28px;
		left: 30px;
		padding-left: 35px;
		position: relative;
		top: -60px;
		@media #{$mobile}{
			display: none;
		}
		span{
			color: #4b2848;
			display: block;
			font-size: 14px;
			line-height: 14px;
			&.pink{
				color: #ec008c;
			}
		}
	}
	.well{
		background: #4d2e4f;
		font-size: 0;
		*{
			box-sizing: border-box;
		}
		div{
			color: white;
			display: inline-block;
			font-size: 16px;
			padding: 30px;
			position: relative;
			vertical-align: top;
			width: 40%;
			@media #{$mobile}{
				width: 100%;
			}
			&:after{
				background: #4e414a;
				content: "\a0";
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
			}
			&:last-of-type{
				text-align: center;
				width: 20%;
				@media #{$mobile}{
					width: 100%;
				}
				.pink{
					color: #ec008c;
				}
			}
			span{
				display: block;
				padding: 4px;
			}
			.city{
				color: #ec008c;
				font-size: 18px;
			}
		}
	}
	.sub{
		padding: 20px 0;
		position: relative;
		@media #{$mobile}{
			padding: 15px;
		}
		p{
			color: #999;
			display: inline;
			font-size: 12px;
			a{
				color: inherit;
				text-decoration: none;
			}
			&:last-of-type{
				position: absolute;
				right: 0;
				@media #{$mobile}{
					display: block;
					margin: 5px 0;
					position: relative;
				}
			}
		}
	}
}