*{
    margin: 0 auto;
    padding: 0;
}

html, body{
    height: 100%;
}
body{
    background-color: #f7f7f8;
    background-image: url(../images/bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    #wrapper{
        background: #ffffff;
        box-shadow: 0 0 10px #e7e9e8;
        padding: 0 15px;
        width: 1000px;
    }
}