$mobile: "only screen and (max-width: 1000px)";

*{
    margin: 0 auto;
    padding: 0;
}

html, body{
    height: 100%;
}
body{
    background: #f7f7f8 url(../images/bg.png) fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    font-family: 'Lato', sans-serif;
    @media #{$mobile}{
        background: none;
    }
    #wrapper{
        background: #fff;
        box-shadow: 0 0 10px #e7e9e8;
        padding: 0 15px;
        width: 1000px;
        @media #{$mobile}{
            box-shadow: none;
            padding: 0;
            width: 100%;
        }
        header{
            position: relative;
            .banner{
                background: url(../images/header.png) no-repeat;
                background-size: 100%;
                height: 450px;
                position: relative;
                @media #{$mobile}{
                    background-size: cover;
                    height: auto;
                }
                #logo{
                    height: 201px;
                    left: calc(50% - 115px);
                    position: relative;
                    top: 60px;
                    width: 230px;
                    @media #{$mobile}{
                        top: 0;
                        transform: scale(0.5);
                    }
                }
                ul{
                    bottom: 130px;
                    position: absolute;
                    right: 30px;
                    @media #{$mobile}{
                        bottom: 0;
                        .facebook{
                            display: none;
                        }
                    }
                    li{
                        height: 40px;
                        list-style: none;
                        margin-bottom: 15px;
                        padding-left: 50px;
                        span{
                            display: block;
                            line-height: 20px;
                            &.city{
                                color: #ec008c;
                                font-size: 17px;
                            }
                            &.phone{
                                color: #4b2a4b;
                                font-size: 20px;
                            }
                        }
                        &.contact_phone{
                            background: url(../images/phone.png) no-repeat left;
                        }
                        &.facebook{
                            background: url(../images/facebook.png) no-repeat left;
                            a{
                                color: #4b2a4b;
                                font-size: 20px;
                                line-height: 40px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .well{
                background: rgba(237, 48, 154, 0.9);
                height: 115px;
                position: absolute;
                top: 335px;
                width: 100%;
                @media #{$mobile}{
                    height: auto;
                    position: relative;
                    top: auto;
                }
                h1{
                    color: #fff;
                    font-size: 36px;
                    font-style: italic;
                    font-weight: lighter;
                    line-height: 115px;
                    text-align: center;
                    width: 100%;
                    @media #{$mobile}{
                        font-size: 18px;
                        line-height: 20px;
                        padding: 15px;
                        width: calc(100% - 30px);
                    }
                }
                img{
                    position: absolute;
                    right: 30px;
                    top: 22px;
                    @media #{$mobile}{
                        display: none;
                    }
                }
            }
            .promo{
                background: url(../images/banner.png) no-repeat;
                background-size: 100%;
                height: 155px;
                @media #{$mobile}{
                    background: #4d2e4f;
                }
                .information{
                    display: block;
                    height: 155px;
                    margin-left: 0;
                    padding: 20px 45px;
                    width: 300px;
                    @media #{$mobile}{
                        padding: 15px;
                        text-align: center;
                        width: calc(100% - 30px);
                    }
                    h3{
                        color: #ec008c;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    span{
                        color: #fff;
                        display: block;
                        &.price{
                            font-size: 40px;
                            font-weight: bold;
                        }
                        &.until{
                            color: #9e7b9a;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        #main{
            @import "video_contact";
            @import "information";
            @import "who-we-are";
            
            section{
                &.services{
                    h2{
                        color: #ec008c;
                        display: block;
                        font-size: 36px;
                        font-style: italic;
                        font-family: 'Lato', Helvetica, Arial, sans-serif;
                        margin: 0 auto;
                        padding-top: 40px;
                        text-align: center;
                        @media #{$mobile}{
                            font-size: 24px;
                        }
                    }
                    span{
                        color: #474747;
                        display: block;
                        font-size: 15px;
                        line-height: 30px;
                        margin: 0 auto;
                        padding-bottom: 20px;
                        text-align: center;
                    }
                    ul{
                        li{
                            list-style: none;
                            vertical-align: top;
                            &.service{
                                display: inline-block;
                                margin: 24px;
                                position: relative;
                                width: 274px;
                                @media #{$mobile}{
                                    margin: 0;
                                    padding-bottom: 20px;
                                    width: 100%;
                                }
                                img{
                                    @media #{$mobile}{
                                        display: none;
                                    }
                                }
                            }
                            h5{
                                background: url(../images/hilight.png) no-repeat;
                                color: #fff;
                                height: 55px;
                                font-size: 14px;
                                font-weight: bold;
                                line-height: 55px;
                                padding-top: 10px;
                                position: absolute;
                                text-align: center;
                                text-transform: uppercase;
                                top: 108px;
                                width: 274px;
                                @media #{$mobile}{
                                    background: #ec008c;
                                    height: 40px;
                                    line-height: 20px;
                                    position: relative;
                                    top: auto;
                                    width: 100%;
                                }
                            }
                            ul{
                                padding-top: 15px;
                                li{
                                    color: #313131;
                                    font-size: 12px;
                                    line-height: 26px;
                                    padding-left: 5px;
                                    &:before{
                                        content: "·";
                                        color: #EC008C;
                                        font-weight: bold;
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @import "footer";
    }
}