.video_contact{
	font-size: 0;
    padding: 30px 0;
	*{
		box-sizing: border-box;
	}
	section{
		display: inline-block;
		font-size: initial;
		vertical-align: top;
        &.video{
            position: relative;
            width: 600px;
            @media #{$mobile}{
                width: 100%;
            }
        }
        &.contact{
            width: 400px;
            @media #{$mobile}{
                width: 100%;
            }
        }
	}
	h3{
        color: #ec008c;
        font-size: 21px;
        font-weight: normal;
    }
    span{
    	color: #474747;
    	font-size: 15px;
    	line-height: 30px;
    }
    video{
        height: 300px;
        margin-top: 20px;
        width: 540px;
        @media #{$mobile}{
            height: auto;
            width: 100%;
        }
    }
    #play_button{
        background: url("../images/play.png");
        height: 55px;
        pointer-events: none;
        position: absolute;
        left: calc(50% - 36px);
        top: 161px;
        width: 72px;
        z-index: 99;
        @media #{$mobile}{
            top: 50%;
            transform: scale(0.7);
        }
    }
	form{
		padding-top: 20px;
        @media #{$mobile}{
            padding: 15px;
        }
		input, textarea, select, option{
			color: #474747;
            background: #fafafa;
            border: 1px solid #d5d5d5;
            border-radius: 2px;
            font-size: 14px;
            height: 37px;
            margin: 4px 0;
			padding: 10px;
            width: 365px;
            @media #{$mobile}{
                width: 100%;
            }
            &:focus{
                outline: none;
            }
            &[type=submit]{
            	background: #ec008c;
            	border: none;
            	color: #fff;
            	font-size: 16px;
            	font-weight: bold;
            	height: 50px;
            	text-transform: uppercase;
            }
            &[name=name]{
            	margin-right: 12px;
            }
            &.small{
            	width: 175px;
                @media #{$mobile}{
                    width: 100%;
                }
            }
		}
		select{
			-webkit-appearance: none;
			color: #979797;
			cursor: pointer;
			padding: 10px;
		}
		textarea{
			height: 75px;
			resize: none;
		}
	}
}
