.video_contact{
	font-size: 0;
	*{
		box-sizing: border-box;
	}
	section{
		display: inline-block;
		font-size: initial;
		vertical-align: top;
		width: 50%;
	}
	form{
		input, textarea, select, option{
			padding: 10px;
			margin: 4px 0;
			width: 100%;
		}
		select{
			cursor: pointer;
			padding: 10px;
		}
	}
}
